<p>This screens provide options to maintain the indexes as well as the percolators.</p>
<div class="row">
    <div class="col-sm-4" role="form">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Percolator</h3>
            </div>
            <div class="panel-body">
                <p>Using this button makes you remove the complete index and recreate all percolator queries for the
                    prvinces.</p>
                <button type="button" class="btn btn-default" ng-click="restorePercolators()">Restore percolators
                </button>
            </div>
        </div>
    </div>
</div>